@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container {
    margin: 0;
    padding: 0;
    text-align: center;
}

#heading {
    text-align: center;
    display: inline-block;
    margin-right: 40%;
}

.head {
    padding: 20px 50px;
    background-image: url('https://assets.ccbp.in/frontend/dynamic-webapps/library-management-bg.png');
    background-position: center;
    left: 0px;
    width: 100vw;
    height: 35vh;
    object-fit: cover;
}

.heading {
    color: #fff;
}

.main {
    width:50%;
}

.result-countries {
  align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
}

img {
    margin: 5px 40px;
}